name: Proxy Aggregator

on:
  schedule:
    - cron: '0 */1 * * *' # Run every hour
  workflow_dispatch:      # Allow manual trigger

permissions:
  contents: write

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run Aggregator Script
        run: python backend/aggregator.py

      - name: Commit and Push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add all_proxies.txt
          git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-update proxy list [skip ci]" && git push)
